.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    height: clamp(13rem, 14rem, 15rem);
    overflow: hidden;
    width: clamp(10rem, 15rem, 20rem);
}

.container h4, .container p {
    margin: 0 auto;
    line-height: 2rem;
}

.container h4 {
    background-color: #545454;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}