.container {
	display: flex;
}

.container .totalInfo {
	width: 25%;
	position: fixed;
	top: 8rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
	padding: 0.5rem 1rem;
	right: 1rem;
	border-radius: 0.3rem;
}

.totalInfo .item {
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

.totalInfo .buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.container .cartItems {
	flex-basis: 75%;
	margin-right: 25%;
}

.success {
	width: 50%;
	margin-top: 0.5rem;
}

@media screen and (max-width: 1000px) {
	.container {
		flex-direction: column;
	}
	.container .totalInfo {
		position: relative;
		width: 80%;
		right: 0;
		top: 2rem;
		margin: 0 auto;
	}
	.container .cartItems {
		width: 100%;
		margin: 1rem auto;
	}
}