.container {
	display: flex;
	justify-content: space-around;
	align-items: start;
	width: 70%;
	gap: 1rem;
	flex-wrap: wrap;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
	margin: 3rem 1rem;
	padding: 2rem 1rem;
}

@media screen and (max-width: 400px) {
	.container {
		padding: 0;
		box-shadow: none;
	}
}